#root {
  height: 100vh;
}
.App {
  height: inherit;
  display: flex;
  flex-direction: column;
  background-color: #38389b;
}
.btn__open__modal {
  width: 240px;
  height: 80px;
  margin: auto;
  /* background: none; */
  color: rgb(39, 39, 39);
  font-size: 18px;
  border: 2px solid #338033;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}
#modal__root > div{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background: rgba(0,0,0,0.3);  
  display: flex;
  flex-direction: column;
}
.container {
  border: 1px solid #338033;
  width: 70%;
  height: 35%;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}
.modal__header {
  display: flex;
  justify-content: space-between;
}
.close__modal {
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 25px;
  background: none;
}
.modal__footer {
  display: flex;
  justify-content: flex-end;
}
.modal__ok,
.modal__cancel {
  margin-left: 20px;
  font-size: 15px;
  width: 70px;
  height: 30px;
  border: 1px solid #338033;
  border-radius: 3px;
  background: none;
  cursor: pointer;
}
